@import "tailwindcss";
*{
   
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  color: white;
  /* font-weight: 800; */
}
body{
  background-color: #111;
}
 
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  